


header {
background-color:#CC6A47;
    height: auto;
    margin-top: 0px;
}

.container {
  margin: 0px auto;
*zoom: 1;
    background-color:#C6CCB3;
    height: auto;
    border-radius:10px;
    }

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.container-fluid:after {
  clear: both;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #F5F5F5;
  background-color:#8B9958;
  
  
  
}

#conteudo {
    /*padding-bottom:40px;*/
}

footer {
position: relative;
margin-top: -40px; /* Este margin, tem que ser o mesmo valor da altura do rodapé, só que negativo */
height: 40px; /* E aqui, fica a altura do rodapé */
clear: both;
}


a {
  color: #F5F5F5;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

div.cadastro {
    
    float:right;
    background-color:#C6CCB3;
    border-radius:10px;
    margin-right:20px;
    margin-bottom:20px;

}
lt;
bacft;
background-color:#C

}

.cadastro input , label, h4, h3 {
margin-left: 20px;
}

div.Conteudo2 {
float:left;
background-color:#C6CCB3;
border-radius:10px;
margin-left:20px;
margin-bottom:20px;
width: 65%;
}

div.spans {
display:inline;

}

div.sexo {
display: inline;
}

div.tipo {
display: inline;
}

.span4 {
width: 180px;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
	width: 100%;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}