<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>T-ShapedViewer</title>
    <link href="../css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/css-nav.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../js/css/custom-theme/jquery-ui-1.10.3.custom.min.css" />
    <script src="../js/jquery/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="../js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../js/bootstrap.js"></script> 
</head>
<body>
    <div class="navbar">
          <div class="navbar-inner container">
              <a class="brand" href="../controller/usuarios-exec.php?op=Listar">T-ShapedViewer</a>
              <div class="brand">Pesquisa de {nomeUsuario}</div>
          </div>
    </div>
    
    <div class="control-group span10">
        <div class="controls">
            <form name="frmPesquisaUsr" method="POST" action="">
                <input name="usrNome" type="text" placeholder="Nome Usuário" class = "span3"/>
                <input name="usrSobrenome" type="text" placeholder="Sobrenome Usuário" class = "span3"/>
                <input type="submit" name="frmPesquisaUsr" value="Filtrar" class="btn btn-primary"/>
            </form>
            <div class="tabela-usr">
                <table class="table table-bordered"> <!-- table-hover table-bordered table-striped">-->
                    <thead>
                        <tr>
                        <td><b>Nome</td>
                        <td><b>e-mail</td>
                        </tr>
                    </thead>
                    <!-- START BLOCK : user_row -->
                    <tr>
                        <td><a href="../controller/mostraT-exec.php?usrId={usr_id}">{usr_nome}</td>
                        <td>{usr_email}</td>
                    </tr>
                    <!-- END BLOCK : user_row -->
                </table>
            </div>
        </div>
    </div>

    <div class="control-group span10">
        <div class="controls">
            <form name="frmPesquisaQualif" method="POST" action="">
                <input name="nomeQualif" type="text" placeholder="Nome Qualificação" class = "span3"/>
                <input type="submit" name="frmPesquisaQualif" value="Filtrar" class="btn btn-primary"/>
            </form>
            <div class="tabela-usr">
                <table class="table table-bordered"> <!--table-hover table-bordered table-striped">-->
                    <thead>
                        <tr>
                        <td><b>Nome</td>
                        <td><b>Qualificação</td>
                        <td><b>Tipo</td>
                        <td><b>Nível</td>
                        </tr>
                    </thead>
                    <!-- START BLOCK : number_row -->
                    <tr>
                        <td><a href="../controller/mostraT-exec.php?usrId={qlf_id}">{qlf_nome}</td>
                        <td>{qlf_qualif}</td>
                        <td>{qlf_tipo}</td>
                        <td>{qlf_nivel}</td>
                    </tr>
                    <!-- END BLOCK : number_row -->
                </table>
            </div>
        </div>
    </div>

</body>
</html>
