<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>T-ShapedViewer</title>
    <link href="../css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/css-nav.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../js/css/custom-theme/jquery-ui-1.10.3.custom.min.css" />
    <script src="../js/jquery/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="../js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../js/bootstrap.js"></script> 
    <script type="text/javascript">
        function mostrarNota(novoValor) {
            document.getElementById("exibeNota").innerHTML = novoValor;
        }
    </script>   
    <script>
        function confirmaExclusao( url ){
            if ( window.confirm( "Confirma a exclusão?" ) ) window.location.href=url;
        }
    </script>    
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="../view/usuarios-exec.php">T-ShapedViewer</a>
            <div class="brand">Bem vindo {nomeUsuario}</div>
            <form class="navbar-form pull-right" action="../controller/login-exec.php" method="post">
                <a class="brand" href="../controller/logout.php">Logout</a>
            </form>
        </div>
    </div>

    <div style="width: 750px; /*border: 1px solid black;*/ padding: 10px; margin-left: 10px; float: left; position: relative; " >
        <div class="interesse" style="width: 600px; height: 170px; padding: 5px;">
            <legend>Interesses</legend>
            <!-- START BLOCK : interesses -->
            <span style="border: 1px solid #8B9958; font-size: 14px; " ><span><a href="../controller/qualificacoes-exec.php?acao=Alterar&idQualif={idQualificacao}">{nomeQualificacao}</a></span> <span><a href="#" onClick="confirmaExclusao( '../controller/qualificacoes-exec.php?acao=Excluir&idQualif={idQualificacao}');"><img src="../img/ico-del.png" border="0"/></a></span></span>
            <!-- END BLOCK : interesses -->
        </div>

        <div class="especializacao" style="width: 200px; height: 350px; padding: 5px; margin-left: 230px;">
            <legend>Especialidades</legend>
            <!-- START BLOCK : especialidades -->
            <span style="border: 1px solid #8B9958; font-size: 14px;" ><span><a href="../controller/qualificacoes-exec.php?acao=Alterar&idQualif={idQualificacao}">{nomeQualificacao}</a></span> <span><a href="#" onClick="confirmaExclusao( '../controller/qualificacoes-exec.php?acao=Excluir&idQualif={idQualificacao}');"><img src="../img/ico-del.png" border="0"/></a></span></span>
            <!-- END BLOCK : especialidades -->
        </div>
    </div>
    <div style="width: 520px; /*border: 1px solid black;*/ margin-left: 10px; padding: 10px; position: relative; float: left;" >
        <div class='span6'>
            <div class='row-fluid'>
                    <div class="cadastro">
                        <h3>Qualificação</h3>
                        <!-- START BLOCK : formulario -->
                        <form id="form-horizontal" name="cadastro" method="POST" action="../controller/qualificacoes-exec.php">
                            <div class="control-group">
                                <div class="controls">
                                    <input class="field span11" type="text" id="nome" name="nome" autocomplete="on" placeholder="Nome" value="{nomeQualificacao}" required autofocus/>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <textarea class="field span11" id="descricaoQualificacao" rows="4" placeholder="Descreva a qualificação" value="{descricaoQualificacao}"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls" style="grid-column-align:center">
                                    <h3>Tipo de Qualificação</h3>
                                    <div class="btn-group" data-toggle="buttons-radio">
                                        <input type="button" class="btn" value="Interesse" checked></input>
                                        <input type="button" class="btn" value="Especialidade" checked></input>
                                    </div>
                                </div>
                            </div>
                            <div class="nivel" >
                                <h3>Nivel</h3>
                                <input class="span11" type="range" min="1" max="10" id="nota" name="nota" id="notaQualificacao" onkeyup="mostrarNota(this.value)" onchange="mostrarNota(this.value)" placeholder="nota" value="{notaQualificacao}" />
                                <span id="exibeNota">{nota}</span>
                            </div>

                            <div class="form-actions">
                                <!--<button type="submit" name="sub" class="btn btn-primary" value="Novo" >Novo</button>-->
                                <button type="reset" name="reset" class="btn btn-danger" value="Cancelar" >Cancelar</button> 
                                <button type="submit" name="sub" class="btn btn-success" value="Inserir" >Salvar</button> 
                            </div>
                            <input type="hidden" name="idQualificacao" value="{idQualificacao}"/>
                            <input type="hidden" name="idQualificacaoUsuario" value="{idQualificacaoUsuario}"/>
                            <input type="hidden" name="acaoInserir" value="{acaoInserir}"/>
                        </form>
                        <!-- END BLOCK : formulario -->
                        <!-- START BLOCK : mensagem -->
                        <div id="retorno">
                            {msg}
                        </div>
                        <!-- END BLOCK : mensagem -->               
                    </div>
                </div>
        </div>
    </div>     
        
    <footer>
        <hr />
        <div style="display:inline-block">
            Criado por ...
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </footer>
</body>
</html>
