<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>T-ShapedViewer</title>
    <link href="../css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/css-nav.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../js/css/custom-theme/jquery-ui-1.10.3.custom.min.css" />
    <script src="../js/jquery/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="../js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../js/bootstrap.js"></script> 
    <script src="../js/jquery/jquery-1.7.1.min.js"></script>    
    <script src="../js/jquery.nested.js"></script>    
    <script type="text/javascript" src="../js/wColorPicker/wColorPicker.min.js"></script> <!--Fonte: http://wcolorpicker.websanova.com/ -->
    <link rel="Stylesheet" type="text/css" href="../js/wColorPicker/wColorPicker.min.css" />
    <script type="text/javascript">
        function mostrarNota(novoValor) {
            document.getElementById("exibeNota").innerHTML = novoValor;
        }
    </script>   
    <script>
        function confirmaExclusao( url ){
            if ( window.confirm( "Confirma a exclusão?" ) ) window.location.href=url;
        }
    </script>    
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner container">
            <a class="brand" href="../controller/usuarios-exec.php?op=Listar">T-ShapedViewer</a>
            <div class="brand">Bem vindo {nomeUsuario}</div>
            <form class="navbar-form pull-right" action="../controller/login-exec.php" method="post">
                <a class="brand" href="../controller/logout.php">Logout</a>
            </form>
        </div>
    </div>
    <div id="visualizat">    
        <div class="span10">
            <div class='row-fluid'>
            <!--Body content-->
            <div style="width: 700px; padding: 10px; margin-left: 10px; float: left; position: relative; " >
                <div class="interesse" style="width: 600px; height: 170px; padding: 5px; background-color:{cor_fundo_t};">
                    <legend>Interesses</legend>
                    <!-- START BLOCK : interesses -->
                    <span class="divQualif" style="display: inline-block; padding: 4px; font-size: {nivel_qualif}px; background-color:{cor_fundo_qualif};" >
                    <span><a href="../controller/qualificacoes-exec.php?acao=Alterar&idQualif={idQualificacao}" style="color:{cor_font_qualif}; font-family:{font_qualif}">{nomeQualificacao}</a></span> <span><a href="#" onClick="confirmaExclusao( '../controller/qualificacoes-exec.php?acao=Excluir&idQualif={idQualificacao}');"><img src="../img/ico-del.png" border="0"/></a></span></span>
                    <!-- END BLOCK : interesses -->
                </div>

                <div class="especializacao" style="width: 210px; height: 350px; padding: 5px; margin-left: 220px; background-color:{cor_fundo_t};">
                    <legend>Especialidades</legend>
                    <!-- START BLOCK : especialidades -->
                    <span class="divQualif" style="display: inline-block; padding: 4px; font-size: {nivel_qualif}px; background-color:{cor_fundo_qualif};" >
                    <span><a href="../controller/qualificacoes-exec.php?acao=Alterar&idQualif={idQualificacao}" style="color:{cor_font_qualif}; font-family:{font_qualif}">{nomeQualificacao}</a></span> <span><a href="#" onClick="confirmaExclusao( '../controller/qualificacoes-exec.php?acao=Excluir&idQualif={idQualificacao}');"><img src="../img/ico-del.png" border="0"/></a></span></span>
                    <!-- END BLOCK : especialidades -->
                </div>
                
            </div>
                <div class="editaT" style="float:right; padding: 5px; margin-right: 50px; background-color:#C6CCB3;">
                    <div class="control"><h4>Cor de fundo do T</h4>
                        <input type="color" id="cor_fundo_qualif" name="corFundoQualif" value="{cor_fundo_t}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cadastro"> 
        <h3>Qualificação</h3>
        <!-- START BLOCK : formulario -->
        <form id="form-horizontal" name="cadastro" method="POST" action="../controller/qualificacoes-exec.php">
            <div class="control-group">
                <div class="controls">
                    <input class="span4" type="text" id="nome" name="nome" autocomplete="on" placeholder="Nome" value="{nomeQualificacao}" required autofocus/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <textarea class="span4" id="descricao" name="descricao" rows="2" placeholder="Descreva a qualificação" value="{descricaoQualificacao}">{descricaoQualificacao}</textarea>
                </div>
            </div>
            <h4>URL Imagem</h4>
            <div class="control-group">
                <div class="controls">
                    <input class="span4" type="url" id="urlImg" name="urlImg"  placeholder="Insira o endereço de uma imagem" value="{urlImgVal}"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <h4>Tipo de Qualificação</h4>
                    <div class="btn-group alignment" data-toggle="buttons-radio">
                        <button type="button" class="btn" value="I" checked="checked">Interesse</button>
                        <button type="button" class="btn" value="E" >Especialidade</button>
                        <input type="hidden" id="radioVal" name="tipoRadios" value="I"/>
                    </div>
                </div>
            </div>
            <div class="nivel" >
                <h4>Nivel</h4>
                <input class="span4" type="range" min="1" max="10" id="nota" name="nota" id="notaQualificacao" onkeyup="mostrarNota(this.value)" onchange="mostrarNota(this.value)" placeholder="nota" value="{notaQualificacao}" />
                <span id="exibeNota">{nota}</span>
            </div>
            <div class="control"><h4>Cor de fundo</h4>
                <input type="color" id="cor_fundo_qualif" name="corFundoQualif" value="{corFundoQualif}"/>                            
            </div>
            <h4>Letra</h4>
            <div class="control-group">
                <div class="controls">
                    <input class="span4" type="text" id="font" name="fontQualif"  placeholder="Escolha uma" value="{fontQualif}"/>
                </div>
            </div>
            <div class="control"><h4>Cor da letra</h4>
                <input type="color" id="cor_letra_qualif" name="corLetraQualif" value="{corFontQualif}"/>                            
            </div>
            <div class="form-actions">
                <!--<button type="submit" name="sub" class="btn btn-primary" value="Novo" >Novo</button>-->
                <button type="reset" name="reset" class="btn btn-danger" value="Cancelar" >Cancelar</button> 
                <button type="submit" name="sub" class="btn btn-success" value="Inserir" >Salvar</button> 
            </div>
            <input type="hidden" name="idQualificacao" value="{idQualificacao}"/>
            <input type="hidden" name="idQualificacaoUsuario" value="{idQualificacaoUsuario}"/>
            <input type="hidden" name="acaoInserir" value="{acaoInserir}"/>
        </form>
        <!-- END BLOCK : formulario -->
        <!-- START BLOCK : mensagem -->
        <div id="retorno">
            {msg}
        </div>
        <!-- END BLOCK : mensagem -->               
    </div>     
<script>
    $('#interesse').nested(); 
    $('#especializacao').nested(); 
    $("#wColorPicker").wColorPicker({
        theme:'black',
        generateButton  : true,
        color: '{corFundoQualif}',
        position:'tr',
        effect: 'none',
        mode: 'click',
        onSelect: function(color){
            $("#wColorPicker").css('background', color);
            $("#cor_fundo_qualif").val(color);
        }
    });
    
</script>        
    <footer>
        <hr />
        <div style="display:inline-block">
            Criado por ...
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </footer>
    
    <script> 
    $(function() {
      //seta valor do campo hiden
      $(".alignment .btn").click(function() {
        document.getElementById('radioVal').value = $(this).val();
      }); 
    });
    </script>

</body>
</html>
