<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>T-ShapedViewer</title>
    <link href="../css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/css-nav.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../js/css/custom-theme/jquery-ui-1.10.3.custom.min.css" />

    <link href='http://fonts.googleapis.com/css?family=Gorditas' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crafity Girls' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Permanent Marker' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Poiret One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cherry Cream Soda' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vast Shadow' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marck Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Shadows Into Light' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fontdiner Swanky' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat Subrayada' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mouse Memoirs' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Coming Soon' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Luckiest Guy' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Black Ops One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Kranky' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=MedievalSharp' rel='stylesheet' type='text/css'>

    <script src="../js/jquery/jquery-2.0.3.js"></script>
    <script src="../js/bootstrap.js"></script> 
    <script type="text/javascript" src="../js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../js/jquery.nested.js"></script>    
    <script type="text/javascript" src="../js/wColorPicker/wColorPicker.min.js"></script> <!--Fonte: http://wcolorpicker.websanova.com/ -->
    <link rel="Stylesheet" type="text/css" href="../js/wColorPicker/wColorPicker.min.css" />
    <script type="text/javascript">
	
	var x, x2;
        var y, y2;
        
        $(document).ready(function() {
                /*DIV HORIZONTAL DO T*/
                $(".divQualif1").draggable(
                        {containment: ".interesse", 
                         scroll: false,
                         start: function( event, ui ) {
                                y = $(this).offset().top;
                                x = $(this).offset().left;
                                $("#idQualificacaoUsuario").val($(this).prop('id'));
                        },
                        stop: function( event, ui ) {
                              y2 = $(this).offset().top;
                              x2 = $(this).offset().left;
                              var yParent = $("#divInteresse").offset().top;
                              var xParent = $("#divInteresse").offset().left;
                              //var yNovo = y2 - yParent - 70;
                              var yNovo = y2 - yParent;
                              var xNovo = x2 - xParent;
                              //alert('y: '+y+'   x: '+x+ '    u2: '+y2+ '    x2: '+x2+'    yParent: ' + yParent +'   xParent: '+xParent);
                              //alert("xNovo: "+ xNovo + "     yNovo: "+yNovo);
                              // Requisição ajax para atualizar no banco
                              $.ajax({ url: "../controller/qualificacoes-exec.php", 
                                       type: 'post',
                                       data: 'origem='+'ajax'+'&idQualificacaoUsuario='+$("#idQualificacaoUsuario").val()+'&x='+xNovo+'&y='+yNovo
                             });
                        }
                 });
                /*DIV VERTICAL DO T*/
                $(".divQualif2").draggable(
                        {containment: ".especializacao", 
                         scroll: false,
                         start: function( event, ui ) {
                                y = $(this).offset().top;
                                x = $(this).offset().left;
                                $("#idQualificacaoUsuario").val($(this).prop('id'));
                        },
                        stop: function( event, ui ) {
                              y2 = $(this).offset().top;
                              x2 = $(this).offset().left;
                              var xParent = $("#divEspecializacao").offset().left;
                              var yParent = $("#divEspecializacao").offset().top;
                              //alert('Left==> '+x+'   Desl. H==> '+x2+ '   Top==> '+y+ '   Desl. V==> '+y2);
                              var xNovo = x2 - xParent;
                              var yNovo = y2 - yParent;
                              //alert("xNovo: "+ xNovo + "     yNovo: "+yNovo);
                              // Requisição ajax para atualizar no banco
                              $.ajax({ url: "../controller/qualificacoes-exec.php", 
                                       type: 'post',
                                       data: 'origem='+'ajax'+'&idQualificacaoUsuario='+$("#idQualificacaoUsuario").val()+'&x='+xNovo+'&y='+yNovo
                             });
                        }
                 });

        });
                
  
        function mostrarNota(novoValor) {
            document.getElementById("exibeNota").innerHTML = novoValor;
        }
    </script>   
    <script>
        function confirmaExclusao( url ){
            if ( window.confirm( "Confirma a exclusão?" ) ) window.location.href=url;
        }
    </script>    
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner container">
            <a class="brand" href="../controller/usuarios-exec.php?op=Listar">T-ShapedViewer</a>
            <div class="brand">Bem vindo {nomeUsuario}</div>
            <form class="navbar-form pull-right" action="../controller/login-exec.php" method="post">
                <a class="brand" href="../controller/logout.php">Logout</a>
            </form>
        </div>
    </div>
    <div id="visualizat">    
        <div class="span10">
            <div class='row-fluid'>
            <!--Body content-->
            <div style="width: 700px; padding: 10px; margin-left: 10px; float: left; position: absolute; " >
                <div class="interesse" id="divInteresse" style="width: 600px; height: 170px; position: absolute; padding: 5px; background-color:{cor_fundo_t};">
                    <!--<legend>Interesses</legend> -->
                    <!-- START BLOCK : interesses -->
                    <span id="{idQualificacaoUsuario}" class="divQualif1" style="display: inline-block; padding: 4px; font-size: {nivel_qualif}px; background-color:{cor_fundo_qualif}; position: absolute; top: {top}px; left: {left}px;" >
			<span><a href="../controller/qualificacoes-exec.php?acao=Alterar&idQualif={idQualificacao}" style="color:{cor_font_qualif}; font-family:{font_qualif}">{nomeQualificacao}</a></span> <span><a href="#" onClick="confirmaExclusao( '../controller/qualificacoes-exec.php?acao=Excluir&idQualif={idQualificacao}');"><img src="../img/ico-del.png" border="0"/></a></span>
                    </span>
                    <!-- END BLOCK : interesses -->
                </div>

                <div class="especializacao" id="divEspecializacao" style="width: 210px; height: 350px; position: absolute; top: 240px; padding: 5px; margin-left: 220px; background-color:{cor_fundo_t};">
                    <legend>Especialidades</legend>
                    <!-- START BLOCK : especialidades -->
                    <span id="{idQualificacaoUsuario}" class="divQualif2" style="display: inline-block; padding: 4px; font-size: {nivel_qualif}px; background-color:{cor_fundo_qualif}; top: {top}px; left: {left}px;" >
                        <span><a href="../controller/qualificacoes-exec.php?acao=Alterar&idQualif={idQualificacao}" style="color:{cor_font_qualif}; font-family:{font_qualif}">{nomeQualificacao}</a></span> <span><a href="#" onClick="confirmaExclusao( '../controller/qualificacoes-exec.php?acao=Excluir&idQualif={idQualificacao}');"><img src="../img/ico-del.png" border="0"/></a></span>
                    </span>
                    <!-- END BLOCK : especialidades -->
                </div>
                <div class="editaT container">
                    <div class="control"><h4>Cor de fundo do T</h4>
                        <form name="setarCorT" method="POST" action="../controller/qualificacoes-exec.php?op=corDoT">
                            <input type="color" id="cor_fundo_qualif" name="corFundoT" value="{cor_fundo_t}"/>
                            <button type="" class="btn">Salvar</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cadastro"> 
        <h3>Qualificação</h3>
        <!-- START BLOCK : formulario -->
        <form id="form-horizontal" name="cadastro" method="POST" action="../controller/qualificacoes-exec.php">
            <div class="control-group">
                <div class="controls">
                    <input class="span4" type="text" id="nome" name="nome" autocomplete="on" placeholder="Nome" value="{nomeQualificacao}" onchange="funcPreVisu()" required autofocus/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <textarea class="span4" id="descricao" name="descricao" rows="2" placeholder="Descreva a qualificação" value="{descricaoQualificacao}">{descricaoQualificacao}</textarea>
                </div>
            </div>
            URL Imagem
            <div class="control-group">
                <div class="controls">
                    <input class="span4" type="url" id="urlImg" name="urlImg"  placeholder="Insira o endereço de uma imagem" value="{urlImgVal}"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    Tipo de Qualificação
                    <div class="btn-group alignment" data-toggle="buttons-radio">
                        <button type="button" class="btn" value="I" checked="checked">Interesse</button>
                        <button type="button" class="btn" value="E" >Especialidade</button>
                        <input type="hidden" id="radioVal" name="tipoRadios" value="I"/>
                    </div>
                </div>
            </div>
            <div class="nivel" >
                Nivel
                <input class="span4" type="range" min="1" max="10" id="nota" name="nota" id="notaQualificacao" onkeyup="mostrarNota(this.value)" onchange="mostrarNota(this.value)" placeholder="nota" value="{notaQualificacao}" />
                <span id="exibeNota">{nota}</span>
            </div>
            <div class="control">Cor de fundo
                <br>
                <input type="color" id="corFundoQualif" name="corFundoQualif" value="{corFundoQualif}" onchange="funcPreVisu()"/>                            
            </div>
            Letra
            <div class="control-group">
                <div class="controls">
                    <!--<input class="span4" type="text" id="font" name="fontQualif"  placeholder="Escolha uma" value="{fontQualif}"/>-->
                    <select id="selFont" name="fontQualif" value="{fontQualif}" onchange="funcPreVisu()">
                        <option value="Gorditas">Gorditas</option>
                        <option value="Codystar">Codystar</option>
                        <option value="Orbitron">Orbitron</option>
                        <option value="Nosifer">Nosifer</option>
                        <option value="Crafity Girls">Crafity Girls</option>
                        <option value="Permanent Marker">Permanent Marker</option>
                        <option value="Arvo">Arvo</option>
                        <option value="Poiret One">Poiret One</option>
                        <option value="Armata">Armata</option>
                        <option value="Cherry Cream Soda">Cherry Cream Soda</option>
                        <option value="Vast Shadow">Vast Shadow</option>
                        <option value="Ubuntu">Ubuntu</option>
                        <option value="Marck Script">Marck Script</option>
                        <option value="Josefin Sans">Josefin Sans</option>
                        <option value="Lobster">Lobster</option>
                        <option value="Shadows Into Light">Shadows Into Light</option>
                        <option value="Finger Paint">Finger Paint</option>
                        <option value="Fontdiner Swanky">Fontdiner Swanky</option>
                        <option value="Monoton">Monoton</option>
                        <option value="Orbitron">Orbitron</option>
                        <option value="Montserrat Subrayada">Montserrat Subrayada</option>
                        <option value="Rancho">Rancho</option>
                        <option value="Mouse Memoirs">Mouse Memoirs</option>
                        <option value="Open Sans">Open Sans</option>
                        <option value="Oswald">Oswald</option>
                        <option value="Roboto">Roboto</option>
                        <option value="Play">Play</option>
                        <option value="Nunito">Nunito</option>
                        <option value="Inconsolata">Inconsolata</option>
                        <option value="Dancing Script">Dancing Script</option>
                        <option value="Coming Soon">Coming Soon</option>
                        <option value="Luckiest Guy">Luckiest Guy</option>
                        <option value="Amatic SC">Amatic SC</option>
                        <option value="Black Ops One">Black Ops One</option>
                        <option value="Bangers">Bangers</option>
                        <option value="Allerta Stencil">Allerta Stencil</option>
                        <option value="Sancreek">Sancreek</option>
                        <option value="Slackey">Slackey</option>
                        <option value="Kranky">Kranky</option>
                        <option value="Audiowide">Audiowide</option>
                        <option value="MedievalSharp">MedievalSharp</option>
                    </select>

                </div>
            </div>
            <div class="control">Cor da letra
                <br>
                <input type="color" id="corLetraQualif" name="corLetraQualif" value="{corFontQualif}" onchange="funcPreVisu()"/>                            
            </div>

            <input type="text" id="visuTeste" name="visuTeste" value="" style="font-size:20px" readonly/>

            <div class="form-actions">
                <!--<button type="submit" name="sub" class="btn btn-primary" value="Novo" >Novo</button>-->
                <button type="reset" name="reset" class="btn btn-danger" value="Cancelar" >Cancelar</button> 
                <button type="submit" name="sub" class="btn btn-success" value="Inserir" >Salvar</button> 
            </div>
            <input type="hidden" name="idQualificacao" value="{idQualificacao}"/>
            <input type="hidden" id="idQualificacaoUsuario" name="idQualificacaoUsuario" value="{idQualificacaoUsuario}"/>
            <input type="hidden" id="posx" name="posx" value="{posx}"/>
            <input type="hidden" id="posy" name="posy" value="{posy}"/>
            <input type="hidden" name="acaoInserir" value="{acaoInserir}"/>
        </form>
        <!-- END BLOCK : formulario -->
        <!-- START BLOCK : mensagem -->
        <div id="retorno">
            {msg}
        </div>
        <!-- END BLOCK : mensagem -->               
    </div>     
<script>
    $('#interesse').nested(); 
    $('#especializacao').nested(); 
    $("#wColorPicker").wColorPicker({
        theme:'black',
        generateButton  : true,
        color: '{corFundoQualif}',
        position:'tr',
        effect: 'none',
        mode: 'click',
        onSelect: function(color){
            $("#wColorPicker").css('background', color);
            $("#cor_fundo_qualif").val(color);
        }
    });

     $("#cor_fundo_qualif").bind('input', function() {
        $(".especializacao").css("background-color", $(this).val());
        $(".interesse").css("background-color", $(this).val());
     });
    
</script>        
    <footer>
        <hr />
        <div style="display:inline-block">
            Criado por ...
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </footer>
    
    <script> 
    $(function() {
      //seta valor do campo hiden
      $(".alignment .btn").click(function() {
        document.getElementById('radioVal').value = $(this).val();
      }); 
    });
    </script>

    <script>
        function funcPreVisu()
        {   
            var visu=document.getElementById("visuTeste");
            visu.style.fontFamily=document.getElementById("selFont").value;

            var nomeQua=document.getElementById("nome").value;
            visu.value = nomeQua;

            var corFont=document.getElementById("corLetraQualif").value;
            var corFundo=document.getElementById("corFundoQualif").value;

            visu.style.color=corFont;
            visu.style.backgroundColor=corFundo;
        }
    </script>

</body>
</html>
