<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Teste</title>
<link href="../css/style.css" rel="stylesheet" type="text/css" media="screen" />
<script src="../js/jquery/jquery-1.7.1.min.js"></script>
<script src="../js/jquery.nested.js"></script>
</head>
<body>

<div id="t-shaped">
    <div id="container_h">
        <!-- START BLOCK : contenth -->
        <div class="box size21">{interesses}</div>
        <!-- END BLOCK : contenth -->        
    </div>
    <div id="container_v">
        <!-- START BLOCK : contentv -->
        <div class="box size21">{especialidades}</div>
        <!-- END BLOCK : contentv -->        
    </div> 

</div>    
<script type="text/javascript" >
  
  $(function() { 
   
    $('#container_h').nested(); 
    $('#container_v').nested(); 
    
  });
  
</script>
  
</body>
</html>    