<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     <title>T-ShapedViewer</title>
    <link href="../css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/css-nav.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../js/css/custom-theme/jquery-ui-1.10.3.custom.min.css" />
    <script src="../js/jquery/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="../js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../js/bootstrap.js"></script> 
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">T-ShapedViewer</a>
            
            <form class="navbar-form pull-right" action="../controller/login-exec.php" method="post">
                <a class="brand" href="#">Logout</a>
            </form>
        </div>
    </div>

    <div class='row-fluid'>
<div class='span6'>
<div class='row-fluid'>
    <div id="conteudo">
        <div id="interesse">
            <ul>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
            </ul>
        </div>

        <div id="especializacao">
            <ul>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
            </ul>
        </div>

        </div>
    </div>
</div>

        <div class='span6'>
<div class='row-fluid'>
        <div class="cadastro">
            <h3>Cadastre suas skills</h3>
            <form id="form-horizontal" name="cadastro" method="POST">
                <div class="control-group">
                    <label class="control-label" for="inputNome">Nome</label>
                    <div class="controls">
                        <input type="text" id="nomeQualificacao" placeholder="Nome" required />
                    </div>
                    
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputDescricao">Descrição</label>
                    <div class="controls">
                        <input type="text" id="descricaoQualificacao" placeholder="Descrição" />
                    </div>

                </div>
                <div class="control-group">
                    <div class="controls" style="grid-column-align:center">
                        <h3>Tipo de Qualificação</h3>
                        <label class="radiobutton">
                            <input type="radio" name="sexoRadios" id="Radio1" value="Interesse" checked />Interesse
                            <input type="radio" name="sexoRadios" id="Radio2" value="Especializacao" />Especialização
                        </label>
                    </div>
                </div>

                <div class="nivel" >
                    <h3>Nivel</h3>
                    <select>
                        <option>Iniciante</option>
                        <option>Intermediário</option>
                        <option>Avançado</option>
                        <option>BAD-ASS</option>
                        
                    </select>

                </div>
                <div class="form-actions">
                      <button type="submit" class="btn btn-primary">Novo</button>
                     <button type="submit" class="btn btn-success">Salvar</button> 
                      <button type="button" class="btn btn-danger">Cancelar</button>

                </div>
            </form>
        </div>
    </div>
            </div>
    </div>
        

    <footer>
        <hr />
        <div style="display:inline-block">
            Criado por ...
            <a href="">About</a>
            <a href="">Contact</a>
        </div>
    </footer>
</body>
</html>
